:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ddd;
  color: #000;
}

.product {
  display: flex;
  padding: 24px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 4px 4px 12px 1px rgb(0 0 0 / 20%);
  min-height: 240px;
  max-width: 90%;
  color: #333;
}
.image > span {
  width: 120px !important;
  height: 167px !important;
  position: relative !important;
}
.image > span {
  display: inline-block;
}
.productDetail {
  /* display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1; */
}
.productTitle {
  color: #333;
  font-size: 20px;
  transition: all 0.3s;
  &:hover {
    color: #783f8e;
  }
}
.productDescription {
  color: #7d7d7d;
  font-size: 16px;
  
}
.productDescription.hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30%;
}
.price{
  font-size: 24px;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
