.product {
  display: flex;
  padding: 14px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 4px 4px 12px 1px rgb(0 0 0 / 20%);
  min-height: 200px;
  width: 90%;
  max-width: 600px;
  color: #333;
}
.image {
  width: 120px ;
  height: 167px ;
  position: relative ;
}
.productDetail {
  width: calc(100% - 134px);
  margin-left: 10px;
}
.productTitle {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
}
.productTitle:hover {
  color: #6141ff;
}
.productDescription {
  color: #7d7d7d;
  font-size: 16px;
}
.productDescription.hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.price {
  font-size: 24px;
}
