@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 100px auto;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.container > img {
  width: 100%;
  height: 100%;
}
