.pageTitle {
  color: #333;
  margin-top: 30px;
  text-align: center;
}

.productGallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  gap: 24px;
}

.priceFilter {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 20px;
}
